[submodule "2019"]
	path = 2019
	url = git@github.com:sigmorphon/2019.git
[submodule "contextual-analysis-baseline"]
	path = contextual-analysis-baseline
	url = git@github.com:sigmorphon/contextual-analysis-baseline.git
[submodule "soft_patterns"]
	path = soft_patterns
	url = git@github.com:Noahs-ARK/soft_patterns.git
